{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div style="max-width: 500px;margin: auto;">
        <h2>Login</h2>
        <p><a href="{% url 'signup' %}">sign up</a></p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}
