{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="container marketing">
            <div class="row">
                <div class="content-centered col-sm">
                    <div class="col-lg content-centered">
                        <img class="rounded-circle"
                             src="https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/10549150_872983986460_8290368708385600063_o.jpg?_nc_cat=105&oh=8c307bb632ccf18f53855007f9b8c144&oe=5C537522"
                             alt="Generic placeholder image" width="140" height="140">
                        <h2>More About me:</h2>
                        <p style="    padding-bottom: 20px;">I have found myself many things in life, but presently I am
                            a software engineer,
                            philosopher, and father.</p>
                        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/jonathan-olson-6ab6a3b/"
                              role="button">Connect on Linked in »</a></p>
                    </div>
                </div>
                <div class="content-centered col-sm">
                    <div class="col-lg content-centered">
                        <img class="rounded-circle"
                             src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-1/p320x320/38451415_10100475878143710_5591134657237221376_n.jpg?_nc_cat=103&oh=893adb8b2044bb9769307b73203054e4&oe=5C4E01B1"
                             alt="Generic placeholder image" width="140" height="140">
                        <h2>j0n0l.s0n</h2>
                        <p style="    padding-bottom: 20px;">Reach out to my on Facebook Messenger for feedback,
                            suggestions, or more
                            information</p>
                        <p><a class="btn btn-secondary" href="https://www.facebook.com/j0n0l.s0n" role="button">Follow
                            on social media»</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /content -->
    </div>
{% endblock %}
