<!DOCTYPE html>
<html>
{% load static %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ASOF&I - A Song of Fire & Ice</title>
    <link rel="shortcut icon" href="{% static 'media/images/favicon/favicon.ico' %}"/>
    <meta name="msapplication-TileImage"
          content="../assets/media/images/favicon/mstile-144x144.png">
    <meta name="msapplication-TileColor" content="#ff0000">
</head>
<div fragment="navbar">
    <div class="navbar navbar-expand-lg navbar-dark fixed-top"
         style=" background-color: darkslategray;" role="banner">
        <div class="container">
            <a class="navbar-brand" href="/browse">aSoI&F: Simple List Builder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/browse">Units</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/createlist">Create List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/viewlists">Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resources">Resources</a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="/about">About</a>#}
{#                    </li>#}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/logout">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/login">Log In</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <body>
    <main style="padding-top: 100px;">
        {% block content %}
        {% endblock %}
    </main>
    </body>
</html>
