{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="wrapper">
            <div class="content" role="main">
                <div class="shelf shelf_5">
                    <h1 class="hdg hdg_1 content-centered">Unit List</h1>
                </div>
                <div class="row">
                    <div class="split content-centered col-sm" role="main">
                        <div class="shelf">
                            <label for="factionPicker">
                                <h2 class="hdg hdg_2">Select Faction:</h2>
                            </label>
                        </div>
                        <select name="factionPicker" id="factionPicker">
                            <option selected disabled hidden>Choose here</option>
                            {% for Faction in Factions %}
                                <tr id="{{ Faction.value }}">
                                    <option
                                            value="{{ Faction.value }}"
                                            text="{{ Faction.value }}"
                                            {{ Faction.isSelected }}
                                    >{{ Faction.value }}
                                    </option>
                                </tr>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="split content-centered col-sm" role="main">
                        <div class="shelf">
                            <label for="typePicker">
                                <h2 class="hdg hdg_2">Select Type:</h2>
                            </label>
                        </div>
                        <select name="typePicker" id="typePicker">
                            <option selected disabled hidden>Choose here</option>
                            {% for Type in Types %}
                                <tr id="{{ Type.value }}">
                                    <option
                                            value="{{ Type.value }}"
                                            text="{{ Type.value }}"
                                            {{ Type.isSelected }}
                                    >{{ Type.value }}
                                    </option>
                                </tr>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="split content-centered col-sm" role="main">
                        <div class="row">
                            <input type="checkbox" class="form-check-input"
                                   id="showAttachments"  {{ showAttachmentsChecked }}>

                            <label class="form-check-label" for="showAttachments">Show Attachments</label>
                        </div>
                        <div class="row">
                            <input type="checkbox" class="form-check-input"
                                   id="showCommanders"  {{ showCommandersChecked }}>
                            <label class="form-check-label" for="showCommanders">Show Commanders</label>
                        </div>
                        <div class="row">
                            <input type="checkbox" class="form-check-input"
                                   id="showNonCombatAbilities"  {{ showNonCombatAbilitiesChecked }}>
                            <label class="form-check-label" for="showNonCombatAbilities">Show Non-Combat Abilities</label>
                        </div>
                        <div class="row">
                            <a href="/browse">Reset Filters</a>
                        </div>
                    </div>
                </div>
                <div class="shelf shelf_1">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Unit Name</th>
                            <th scope="col">Faction</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Type</th>
                            <th scope="col">Defense</th>
                            <th scope="col">Speed</th>
                            <th scope="col">Morale</th>
                            <th scope="col">Abilities</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for Unit in UnitList %}
                            <tr>
                                <td>{{ Unit.display_name }}</td>
                                <td>{{ Unit.faction }}</td>
                                <td>{{ Unit.cost }}</td>
                                <td>{{ Unit.type }}</td>
                                {% if not Unit.type == "Non-Combat Unit" and Unit.attachment == False %}
                                    <td>{{ Unit.defense }}+
                                        <small style="color: blue;">{{ Unit.defense_percent }}</small>
                                    </td>
                                    <td>{{ Unit.speed }}</td>
                                    <td>{{ Unit.morale }}+
                                        <small style="color: blue;">{{ Unit.morale_percent }}</small>
                                    </td>
                                {% else %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                {% endif %}
                                <td>
                                    {% if Unit.abilities %}
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">Ability Name</th>
                                                {#                                                <th scope="col">Ability Description</th>#}
                                                {% if Unit.attachment != false and Unit.type != 'Non-Combat Unit' %}
                                                    <th scope="col">Type</th>
                                                    <th scope="col">Hit</th>
                                                    <th scope="col">High</th>
                                                    {% if Unit.type != 'Monster' and Unit.name != 'Gregor Clegane' %}
                                                        <th scope="col">Medium</th>
                                                    {% endif %}
                                                    {% if Unit.type != 'Monster' and Unit.type != 'Cavalry' %}
                                                        <th scope="col">Low</th>
                                                    {% endif %}
                                                {% endif %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for ability in Unit.abilities %}
                                                <tr>
                                                    <td data-toggle="tooltip"
                                                        data-original-title={{ ability.description }}>{{ ability.name }}</td>
                                                    {#                                                    <td>{{ ability.description }}</td>#}
                                                    {% if Unit.attachment != false and Unit.type != 'Non-Combat Unit' %}
                                                        {% if ability.attacktype %}
                                                            <td scope="col">{{ ability.attacktype }}</td>
                                                            <td scope="col">{{ ability.hit }}+
                                                                <small style="color: blue;">{{ ability.hit_percent }}</small>
                                                            </td>
                                                            <td scope="col">{{ ability.high }}
                                                                <small style="color: blue;">{{ ability.high_avg_hits }}</small>
                                                            </td>
                                                            {% if Unit.type != 'Monster' and Unit.name != 'Gregor Clegane' %}
                                                                <td scope="col">{{ ability.med }}
                                                                    <small style="color: blue;">{{ ability.med_avg_hits }}</small>
                                                                </td>
                                                            {% endif %}
                                                            {% if Unit.type != 'Monster' and Unit.type != 'Cavalry' %}
                                                                <td scope="col">{{ ability.low }}
                                                                    <small style="color: blue;">{{ ability.low_avg_hits }}</small>
                                                                </td>
                                                            {% endif %}
                                                        {% else %}
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            {% if Unit.type != 'Monster' and Unit.name != 'Gregor Clegane' %}
                                                                <td></td>
                                                            {% endif %}
                                                            {% if Unit.type != 'Monster' and Unit.type != 'Cavalry' %}
                                                                <td></td>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        argList = ["showAttachments", "type", "showCommanders", "showNonCombatAbilities", "faction"];

        function preserve(newArg, value){
            var curr_url = new URL(window.location.href);

            var index = argList.indexOf(newArg);
            if (index !== -1) argList.splice(index, 1);
            var args = [];
            for (i = 0; i < argList.length; i++)
            {
                var curr = curr_url.searchParams.get(argList[i]);
                if (curr)
                    args.push(argList[i]+"=" + curr);
            }


            args.push(newArg + "=" + value);
            var redirect_to = "?" + args.join("&");
            window.location.href = redirect_to;
        };
        window.onload = function () {
            $("#factionPicker").change(function () {
                preserve("faction", this.value);
            });
            $("#typePicker").change(function () {
                preserve("type", this.value);
            });

            $("#showAttachments").change(function () {
                var showAttachmentsBox = document.getElementById("showAttachments");
                preserve("showAttachments", showAttachmentsBox.checked);
            });

            $("#showCommanders").change(function () {

                var showCommandersBox = document.getElementById("showCommanders");
                preserve("showCommanders", showCommandersBox.checked);
            });

            $("#showNonCombatAbilities").change(function () {
                var showNonCombatAbilitiesBox = document.getElementById("showNonCombatAbilities");
                preserve("showNonCombatAbilities", showNonCombatAbilitiesBox.checked);
            });
        };
    </script>
{% endblock %}

