{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="wrapper">
            <div class="content-centered" role="main">
                <div class="shelf shelf_5">
                    <h1 class="hdg hdg_1">Build a List</h1>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Create List</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        $("#id_faction").change(function () {
            var commanderList;
            if(this.value == "stark"){
                commanderList = "{{ stark }}".split(",");
            }else if(this.value == "lannister"){
                commanderList = "{{ lannister }}".split(",");
            }else if(this.value == "neutral"){
                commanderList = "{{ neutral }}".split(",");
            }

            var commanderPicker = document.getElementById("id_list_commander");
            commanderPicker.options.length = 0;

            for (i = 0; i < commanderList.length; i++) {
                commanderPicker.options[i] = new Option(commanderList[i].split("-")[1], commanderList[i].split("-")[0], true, false)
            }

        });
        $("#id_faction").focus(function () {
            this.selectedIndex = -1;
        });
    </script>
{% endblock %}
