{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="wrapper">
            <div class="content" role="main">
                <div class="shelf shelf_5">
                    <h1 class="masthead-nav"
                    >{{ unitList.spentCost }} / {{ unitList.cost }}pts</h1>
                    <h1 class="hdg hdg_1">{{ unitList.name }}</h1>
                    <h3 class="hdg hdg_2">{{ unitList.faction }}</h3>
                    <a href="/viewlist?id={{ unitList.id }}">Share List</a>
                </div>

                <div class="split">
                    <div class="shelf shelf_2">
                        {% if unitList.selectedUnits %}
                            <div>
                                <div class="shelf">
                                    <h2 class="hdg hdg_2 mix-hdg_centered ">Selected Units</h2>
                                </div>
                                <div class="shelf shelf_5">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Unit Name</th>
                                            <th scope="col">Cost</th>
                                            <th scope="col">Unit Type</th>
                                            <th scope="col">Attachment</th>
                                            <th scope="col">Remove Unit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for unit in unitList.selectedUnits %}
                                            <tr>
                                                <td>
                                                    {{ unit.display_name }}
                                                </td>
                                                <td>{{ unit.cost }}</td>
                                                <td>{{ unit.type }}</td>
                                                {% if unit.attachedAttachment %}
                                                    <td>
                                                        <div> {{ unit.attachedAttachment.name }}</div>
                                                        <button class="btn btn-secondary"
                                                                onclick="removeAttachments({{ unit.uniqueId }})"
                                                                name="{{ unit.id }}">X
                                                        </button>

                                                    </td>
                                                {% elif not unit.potentialAttachments %}
                                                    <td></td>
                                                {% else %}
                                                    <td>
                                                        <select id="{{ unit.uniqueId }}" name="attachmentPicker"
                                                                onchange="attachmentPicker(this)">
                                                            <option value="" selected disabled hidden>Choose here
                                                            </option>
                                                            {% for attachment in unit.potentialAttachments %}
                                                                <option id="{{ attachment.uniqueId }}">{{ attachment.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                {% endif %}
                                                {% if not unit.commander %}
                                                    <td>
                                                        <button class="btn btn-secondary"
                                                                onclick="removeUnit({{ unit.uniqueId }})"
                                                                name="{{ unit.id }}">X
                                                        </button>
                                                    </td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                            </tr>
                                            </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                        {% if unitList.attachments %}
                            <div>
                                <div class="shelf">
                                    <h2 class="hdg hdg_2 mix-hdg_centered ">Unattached Attachments</h2>
                                </div>
                                <div class="shelf shelf_5">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Unit Name</th>
                                            <th scope="col">Cost</th>
                                            <th scope="col">Unit Type</th>
                                            <th scope="col">Remove Unit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for unit in unitList.attachments %}
                                            <tr>
                                                <td>
                                                    {{ unit.display_name }}
                                                </td>
                                                {% if not unit.commander %}
                                                    <td>{{ unit.cost }}</td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                                <td>{{ unit.type }}</td>
                                                {% if not unit.commander %}
                                                    <td>
                                                        <button class="btn btn-secondary"
                                                                onclick="removeUnit({{ unit.uniqueId }})"
                                                                name="{{ unit.id }}">X
                                                        </button>
                                                    </td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                        {% if unitList.ncuUnits %}
                            <div>
                                <div class="shelf">
                                    <h2 class="hdg hdg_2 mix-hdg_centered ">Non-Combat Units</h2>
                                </div>
                                <div class="shelf shelf_5">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Unit Name</th>
                                            <th scope="col">Cost</th>
                                            <th scope="col">Remove Unit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for unit in unitList.ncuUnits %}
                                            <tr>
                                                <td>
                                                    {{ unit.display_name }}
                                                </td>
                                                {% if not unit.commander %}
                                                    <td>{{ unit.cost }}</td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                                {% if not unit.commander %}
                                                    <td>
                                                        <button class="btn btn-secondary"
                                                                onclick="removeUnit({{ unit.uniqueId }})"
                                                                name="{{ unit.id }}">X
                                                        </button>
                                                    </td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="split">
                    <div class="shelf shelf_2">
                        <div class="shelf">
                            <h2 class="hdg hdg_2 mix-hdg_centered ">Available Units</h2>
                        </div>
                        <div class="shelf shelf_5">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Unit Name</th>
                                    <th scope="col">Faction</th>
                                    <th scope="col">Cost</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Defense</th>
                                    <th scope="col">Speed</th>
                                    <th scope="col">Morale</th>
                                    <th scope="col">Add Unit</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for Unit in availableUnitList %}
                                    <tr>
                                        <td>{{ Unit.display_name }}</td>
                                        <td>{{ Unit.faction }}</td>
                                        <td>{{ Unit.cost }}</td>
                                        <td>{{ Unit.type }}</td>
                                        {% if Unit.type == "Non-Combat Unit" or Unit.attachment %}
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        {% else %}
                                            <td>{{ Unit.defense }}</td>
                                            <td>{{ Unit.speed }}</td>
                                            <td>{{ Unit.morale }}</td>
                                        {% endif %}
                                        <td>
                                            <button class="btn btn-primary" onclick="addUnit({{ Unit.id }})"
                                                    name="{{ Unit.id }}">
                                                +
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /content -->
        </div>
        <!-- /wrapper -->
    </div>
    </body>
    </html>

    <script>
        var unitList = "{{ unitList.id }}"
        var g_auth = localStorage.getItem("auth");
        if (g_auth == null) {
            g_auth = sessionStorage.getItem("auth");
        }

        if (g_auth) {
            try {
                g_auth = JSON.parse(g_auth);
            } catch (error) {
                g_auth = null;
            }
        }

        var getCookie = function (name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        };
        var xs = getCookie('csrftoken');
        var vis = getCookie('visitor');

        function attachmentPicker(attachmentBox) {
            var tosend = {
                "action": "attachAttachment",
                "unitListItemId": attachmentBox.id,
                "id": "{{ unitList.id }}",
                "attachmentid": attachmentBox[attachmentBox.selectedIndex].id,
            };
            tosend = JSON.stringify(tosend);
            if (attachmentBox.value != null && attachmentBox.value != "Choose here") {

                $.ajax({
                    "headers": {"X-CSRFToken": xs},
                    "type": "PATCH",
                    "dataType": "json",
                    "url": "/api/list/",
                    "Cookie": vis,
                    "data": tosend,
                    "complete": function (result) {
                        console.log("lol"); //
                        window.location.href = "/editlist?id=" + unitList;
                    },
                });
            }
        };

        function addUnit(element) {
            var tosend = {
                "id": "{{ unitList.id }}",
                "action": "addUnit",
                "unit": element
            };
            tosend = JSON.stringify(tosend);
            $.ajax({

                "headers": {"X-CSRFToken": xs},
                "type": "PATCH",
                "dataType": "json",
                "url": "/api/list/",
                "Cookie": vis,
                "data": tosend,
                "complete": function (result) {
                    console.log("lol"); //
                    window.location.href = "/editlist?id=" + unitList;
                },
            });
        };

        function removeUnit(element) {
            {#var listId = "{{ unitList.id }}";#}
            {#var unitId = element#}
            var tosend = {
                "id": "{{ unitList.id }}",
                "action": "removeUnit",
                "unitListItemId": element
            };
            tosend = JSON.stringify(tosend);
            $.ajax({
                "headers": {"X-CSRFToken": xs},
                "type": "PATCH",
                "dataType": "json",
                "url": "/api/list/",
                "Cookie": vis,
                "data": tosend,
                "complete": function (result) {
                    console.log("lol"); //
                    window.location.href = "/editlist?id=" + unitList;
                },
            });
        };

        function removeAttachments(element) {
            var tosend = {
                "id": "{{ unitList.id }}",
                "action": "removeAttachment",
                "unitListItemId": element
            };
            tosend = JSON.stringify(tosend);
            $.ajax({
                "headers": {"X-CSRFToken": xs},
                "type": "PATCH",
                "dataType": "json",
                "url": "/api/list/",
                "Cookie": vis,
                "data": tosend,
                "complete": function (result) {
                    console.log("lol"); //
                    window.location.href = "/editlist?id=" + unitList;
                },
            });
        };

    </script>
{% endblock %}
