{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="jumbotron-heading">Resources</h1>
        <p class="lead text-muted">There are a lot of fantastic resources for A Song of Ice and Fire Tabletop Miniature
            Game. Below are a few, if there are any I am missing, please reach out to me and I will add it to the
            list</p>

    </div>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {% for resource in resources %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <a href="{{ resource.url }}">
                                <img class="card-img-top"
                                     data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                     alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                                     src="../../static/media/images/{{ resource.id }}.png"
                                     data-holder-rendered="true">
                                <div class="card-body">
                            </a>
                            <p class="card-text">{{ resource.name }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">{{ resource.description }}</small>
                            </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}
