{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="wrapper">
            <div class="content" role="main">
                <div class="shelf shelf_5">
                    <h1 class="hdg hdg_1 content-centered">Lists</h1>
                </div>

                <div class="row">
                    <div class="split content-centered col-sm" role="main">
                        <div class="shelf">
                            <label for="factionPicker">
                                <h2 class="hdg hdg_2">Select Faction:</h2>
                            </label>
                        </div>
                        <select name="factionPicker" id="factionPicker">
                            <option selected disabled hidden>Choose here</option>
                            {% for Faction in Factions %}
                                <tr id="{{ Faction.value }}">
                                    <option
                                            value="{{ Faction.value }}"
                                            text="{{ Faction.value }}"
                                            {{ Faction.isSelected }}
                                    >{{ Faction.value }}
                                    </option>
                                </tr>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="split content-centered col-sm" role="main">
                        <div class="shelf">
                            <label for="costPicker">
                                <h2 class="hdg hdg_2">Select Cost:</h2>
                            </label>
                        </div>
                        <select name="costPicker" id="costPicker">
                            <option selected disabled hidden>Choose here</option>
                            {% for Cost in Costs %}
                                <tr id="{{ Cost.value }}">
                                    <option
                                            value="{{ Cost.value }}"
                                            text="{{ Cost.value }}"
                                            {{ Cost.isSelected }}
                                    >{{ Cost.value }}
                                    </option>
                                </tr>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="split content-centered col-sm" role="main">
                        {% if user.is_authenticated %}
                            <div class="row">
                                <input type="checkbox" class="form-check-input"
                                       id="showMyLists"  {{ showMyListsChecked }}>

                                <label class="form-check-label" for="showMyLists">Show My Lists</label>
                            </div>
                            <div class="row">
                                <input type="checkbox" class="form-check-input"
                                       id="showOtherLists"  {{ showOtherListsChecked }}>
                                <label class="form-check-label" for="showOtherLists">Show Other Lists</label>
                            </div>
                        {% endif %}
                        <div class="row">
                            <a href="/viewlists">Reset Filters</a>
                        </div>
                    </div>
                </div>
                <div class="shelf shelf_1">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">List Name</th>
                            <th scope="col">Faction Name</th>
                            <th scope="col">Cost/Cost</th>
                            {% if user.is_authenticated %}
                                <th scope="col">Delete</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for List in Lists %}
                            <tr>
                                <td>
                                    {% if user.is_authenticated %}
                                        <a {{ List.showTooltip }} href="/editlist?id={{ List.id }}">{{ List.name }}</a>
                                    {% else %}
                                        <a {{ List.showTooltip }} href="/viewlist?id={{ List.id }}">{{ List.name }}</a>
                                    {% endif %}
                                </td>
                                <td>{{ List.faction }}</td>
                                <td>{{ List.spentCost }}/{{ List.cost }}</td>
                                {% if user.is_authenticated and user == List.owner%}
                                    <td>
                                        <button class="btn btn-secondary"
                                                onclick="deleteList({{ List.id }})">X
                                        </button>

                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /content -->
        </div>
        <!-- /wrapper -->
    </div>
    </body>
    </html>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        argList = ["cost", "showMyLists", "showOtherLists", "faction"];

        function preserve(newArg, value) {
            var curr_url = new URL(window.location.href);

            var index = argList.indexOf(newArg);
            if (index !== -1) argList.splice(index, 1);
            var args = [];
            for (i = 0; i < argList.length; i++) {
                var curr = curr_url.searchParams.get(argList[i]);
                if (curr)
                    args.push(argList[i] + "=" + curr);
            }


            args.push(newArg + "=" + value);
            var redirect_to = "?" + args.join("&");
            window.location.href = redirect_to;
        };
        window.onload = function () {
            $("#factionPicker").change(function () {
                preserve("faction", this.value);
            });
            $("#costPicker").change(function () {
                preserve("cost", this.value);
            });
        $("#showMyLists").change(function () {
                var showMyListsBox = document.getElementById("showMyLists");
                preserve("showMyLists", showMyListsBox.checked);
            });
                $("#showOtherLists").change(function () {
                var showOtherListsBox = document.getElementById("showOtherLists");
                preserve("showOtherLists", showOtherListsBox.checked);
            });
        };
        var getCookie = function (name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        };
        var xs = getCookie('csrftoken');
        var vis = getCookie('visitor');

        function deleteList(element) {
            var tosend = {
                "id": element
            };
            tosend = JSON.stringify(tosend);
            $.ajax({
                "headers": {"X-CSRFToken": xs},
                "type": "DELETE",
                "dataType": "json",
                "url": "/api/list/",
                "Cookie": vis,
                "data": tosend,
                "complete": function (result) {
                    console.log("lol"); //
                    window.location.href = "/viewlists";
                },
            });
        };
    </script>
{% endblock %}
