{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="wrapper">
            <div class="content" role="main">
                <div class="shelf shelf_5">
                    <h1 class="masthead-nav"
                    >{{ unitList.spentCost }} / {{ unitList.cost }}pts</h1>
                    <h1 class="hdg hdg_1">{{ unitList.name }}</h1>
                    <h3 class="hdg hdg_2">{{ unitList.faction }}</h3>
                </div>

                <div class="split">
                    <div class="shelf shelf_2">
                        {% if unitList.selectedUnits %}
                            <div>
                                <div class="shelf">
                                    <h2 class="hdg hdg_2 mix-hdg_centered ">Selected Units</h2>
                                </div>
                                <div class="shelf shelf_5">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Unit Name</th>
                                            <th scope="col">Cost</th>
                                            <th scope="col">Unit Type</th>
                                            <th scope="col">Attachment</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for unit in unitList.selectedUnits %}
                                            <tr></tr>
                                            <td>
                                                {{ unit.name }}
                                            </td>
                                            <td>{{ unit.cost }}</td>
                                            <td>{{ unit.type }}</td>
                                            <!--ATTACHMENT PICKER-->
                                            {% if unit.attachedAttachment %}
                                                <td>
                                                    <div> {{ unit.attachedAttachment.name }}</div>
                                                </td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                            </tr>
                                            </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                        {% if unitList.attachments %}
                            <div>
                                <div class="shelf">
                                    <h2 class="hdg hdg_2 mix-hdg_centered ">Unattached Attachments</h2>
                                </div>
                                <div class="shelf shelf_5">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Unit Name</th>
                                            <th scope="col">Cost</th>
                                            <th scope="col">Unit Type</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for unit in unitList.attachments %}
                                            <tr>
                                                <td>
                                                    {{ unit.name }}
                                                </td>
                                                <td>{{ unit.cost }}</td>
                                                <td>{{ unit.type }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                        {% if unitList.ncuUnits %}
                            <div>
                                <div class="shelf">
                                    <h2 class="hdg hdg_2 mix-hdg_centered ">Non-Combat Units</h2>
                                </div>
                                <div class="shelf shelf_5">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Unit Name</th>
                                            <th scope="col">Cost</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for unit in unitList.ncuUnits %}
                                            <tr>
                                                <td>
                                                    {{ unit.name }}
                                                </td>
                                                <td>{{ unit.cost }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
